<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template Example</title>
</head>
<body>

    <p>
        <span>Wings: </span> <span th:text="${wings}"></span>
    </p>

    <p>
        <span>Frames: </span> <span th:text="${frames}"></span>
    </p>

    <p>
        <span>Electronics: </span> <span th:text="${electronics}"></span>
    </p>

    <h3>Drones can be assembled: <span th:text="${possibleDrones}"></span></h3>
</body>
</html>