<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template Example</title>
</head>
<body>
    <style>
        .supply-button {
            border: 1px solid black;
            background: yellow;
            padding: 5px;
            font-size: 20px;
        }
    </style>

    <form action="supply/wings" method="POST">
        <button type="submit" class="supply-button">Supply Wings</button>
    </form>

    <br>

    <form action="supply/frame" method="POST">
        <button type="submit" class="supply-button">Supply Frame</button>
    </form>

    <br>

    <form action="supply/electronics" method="POST">
        <button type="submit" class="supply-button">Supply Electronics</button>
    </form>
</body>
</html>